@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;

    /* 
    var definitions
    */
    --main-bkg-color: #141922;
    --main-grey-color: #7d7f84;
    --lime-color: #adff2f;
    --player-color: #282828;
    --sidebar-grey-color: #6f6f6f;
    --fixed-height: 90px;
    --fixed-aside-large-width: 230px;
    --fixed-aside-small-width: 50px;
}

/*
CONTAINER FOR ASIDE AND MAIN GRID
*/
.container {
    height: calc(100vh - var(--fixed-height));
    width: 100%;
    display: flex;
}


/*
GENERAL BLOCKS DEFINITION
*/

aside {
    height: 100%;
    width: var(--fixed-aside-large-width);
    background-color: black;
    z-index: 5;
}

main {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: var(--main-bkg-color);
    padding: var(--fixed-height) 1.5rem 3rem;
}

footer {
    height: var(--fixed-height);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--player-color);
    z-index: 50;
}

.overlay {
    height: var(--fixed-height);
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}


/*
OVERLAY BUTTON AND HOVER EFFECT
*/
.overlay .btn {
    position: absolute;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    top: 1.5rem;
    right: 2.25rem;
    border: 2px solid white;
    border-radius: 50px;
    padding: 0.7em 2.2em;
    transition: 200ms
}

.overlay .btn:hover {
    transform: scale(1.2);
}



/*
NAVIGATION BAR IN MAIN SECTION
*/

ul,
li {
    list-style-type: none;
}

main .site-area ul {
    max-width: 100%;
    height: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

main .site-area li {
    height: 100%;
    margin: 0 1rem;
    color: var(--main-grey-color);
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 700;
    padding: 1rem 0;
    cursor: pointer;
    white-space: nowrap;
    transition: color 200ms;
}

main .site-area li hr {
    margin: 0.2rem 2rem 0;
    border: 2px solid var(--lime-color);
}

main .site-area li:hover {
    color: white;
}



/*
MAIN CENTRAL GRID CONTENTS
*/

main h2 {
    color: white;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

main .cards-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

main .cards-container .card {
    flex: 0 0 calc((100% - 5 * 1rem) / 6);
}

main .cards-container .card img {
    max-width: 100%;
    margin-bottom: 1rem;
}

main .cards-container .card .title {
    color: white;
    font-size: 0.9rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
}

main .cards-container .card .author {
    color: var(--main-grey-color);
    font-size: 0.7rem;
    font-weight: 700;
    text-align: center;
}
















/*
MEDIA QUERIES FOR CENTRAL GRID
*/

@media screen and (max-width: 1100px) and (min-width: 700px) {
    main .cards-container .card {
        flex: 0 0 calc((100% - 3 * 1rem) / 4);
    }
}

@media screen and (max-width: 699px) {
    main .cards-container .card {
        flex: 0 0 calc((100% - 1rem) / 2);
    }
}

/*
MEDIA QUERY FOR SIDEBAR
*/

@media screen and (max-width: 600px) {
    aside {
        width: var(--fixed-aside-small-width);
    }
}