@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;

    /* 
    var definitions
    */
    --main-bkg-color: #141922;
    --main-grey-color: #7d7f84;
    --lime-color: #adff2f;
    --player-color: #282828;
    --sidebar-grey-color: #6f6f6f;
    --fixed-height: 90px;
    --fixed-aside-large-width: 230px;

}

.container {
    height: calc(100vh - var(--fixed-height));
    width: 100%;
    background-color: purple;
    display: flex;
}

aside {
    height: 100%;
    width: var(--fixed-aside-large-width);
    background-color: #9e3838;
    z-index: 1;
}

main {
    width: calc(100% - var(--fixed-aside-large-width));
    height: 100%;
    overflow-y: scroll;
    background-color: var(--main-bkg-color);
    padding-top: var(--fixed-height);
}

footer {
    height: var(--fixed-height);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--player-color);
    z-index: 50;
}

.overlay {
    height: var(--fixed-height);
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-left: var(--fixed-aside-large-width);
}

.overlay .btn {
    position: absolute;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    top: 1.5rem;
    right: 2.25rem;
    border: 2px solid white;
    border-radius: 50px;
    padding: 0.7em 2.2em;
    transition: 200ms
}

.overlay .btn:hover {
    transform: scale(1.2);
}

ul,
li {
    list-style-type: none;
}

main .sections {
    display: flex;
}

main .sections ul {
    width: 50%;
    height: 3rem;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
}

main .sections li {
    height: 100%;
    color: var(--main-grey-color);
    text-transform: uppercase;
    font-weight: 700;
    padding: 1rem 0;
    cursor: pointer;
    transition: color 200ms;
}

main .sections li:hover {
    color: white;
}

main .sections li hr {
    margin: 0.2rem 2rem 0;
    border: 2px solid var(--lime-color);
}