@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;

    /* 
    var definitions
    */
    --main-bkg-color: #141922;
    --main-grey-color: #7d7f84;
    --lime-color: #adff2f;
    --player-color: #282828;
    --sidebar-grey-color: #6f6f6f;
    --fixed-height: 90px;
    --aside-width: 230px;
}

/*
CONTAINER FOR ASIDE AND MAIN GRID
*/
.container {
    height: 100vh;
    width: 100%;
    display: flex;
}


/*
GENERAL BLOCKS DEFINITION
*/

section {
    margin-bottom: 5rem;
}

aside {
    height: 100%;
    background-color: black;
    z-index: 5;
    padding: 1rem;
    flex: 0 0 var(--aside-width);
    overflow: hidden;
    position: relative;
}

main {
    --cols: 6;
    --gap: 1rem;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: var(--main-bkg-color);
}

footer {
    height: var(--fixed-height);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--player-color);
    z-index: 50;
}


/*
OVERLAY BAR, BUTTON AND HOVER EFFECT
*/

.overlay {
    height: var(--fixed-height);
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.overlay .btn {
    position: absolute;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 0.8rem;
    top: 1.5rem;
    right: 2.25rem;
    border: 2px solid white;
    border-radius: 50px;
    padding: 0.7em 2.2em;
    overflow: hidden;
    transition: 200ms;
}

.overlay .btn:hover {
    transform: scale(1.2);
}



/*
ASIDE CONTENTS
*/

aside .logo-small {
    display: none;
}

aside .logo {
    width: 140px;
}

aside .aside-menu .white {
    color: white;
}

aside .aside-menu {
    padding: 1rem 0;
}

aside .aside-menu li > a {
    display: flex;
    align-items: center;
}

aside a {
    margin: 0;
    text-decoration: none;
    color: var(--sidebar-grey-color);
}

aside .highlight {
    border-left: 2px solid var(--lime-color);
    margin-left: -12px;
    padding-left: 10px;
}

aside .aside-menu img {
    width: 28px;
    margin-right: 10px;
}

aside .aside-menu span {
    padding: 0.6rem 0;
    color: var(--sidebar-grey-color);
    font-size: .8rem;
    transition: color 200ms;
}

/*
PLAYLIST
*/

aside .aside-menu .title {
    padding: 2rem 0 0.5rem;
    text-transform: uppercase;
}

aside .container-playlist > a {
    display: flex;
    width: 100%;
    margin: 0.5rem 0;
}    

aside .playlist {
    max-height: 30vh;
    overflow-y: auto;
}

aside .aside-menu .add {
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    margin-right: 10px;
    text-align: center;
    background-color: var(--sidebar-grey-color);
    font-size: 2rem;
    color: black;
    transition: background-color 200ms;
}

aside .aside-menu .create-playlist {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

aside a:hover span {
    color: white;
}

aside a:hover .add {
    background-color: white;
}


/* download app and user info */

aside .info {
    margin-top: 11rem;
}

aside .info .install img {
    width: 20px;
}

aside .info .install {
    border-bottom: 1px solid var(--sidebar-grey-color);
    padding-bottom: 0.3rem;
    margin-bottom: 0.5rem;
}

aside .info .user img {
    width: 25px;
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: var(--sidebar-grey-color);
}    

aside .info .user span {
    color: white;
    font-size: 0.9rem;
}



/*
MAIN SECTION
*/

main .content {
    padding: var(--fixed-height) 1.5rem 3rem;
}


/* horizontal site nav menu */

ul,
li {
    list-style-type: none;
}

main .site-area ul {
    max-width: 100%;
    height: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

main .site-area li {
    height: 100%;
    color: var(--main-grey-color);
    text-transform: uppercase;
    font-size: 0.9rem;
    padding: 1rem 1rem;
    cursor: pointer;
    white-space: nowrap;
    position: relative;
    transition: color 200ms;
}

main .site-area li.active {
    color: white;
}

main .site-area li.active::after {
    content: "";
    position: absolute;
    display: block;
    left: 2rem;
    right: 2rem;
    bottom: 0;
    height: 2px;
    background-color: var(--lime-color);
}

main .site-area li:hover {
    color: white;
}



/* Central Grid */

main h2 {
    color: white;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

main .cards-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    padding-top: 1rem;
}

main .cards-container .card {
    display: flex;
    flex-direction: column;
    flex: 0 0 calc((100% - (var(--cols) - 1) * var(--gap)) / var(--cols));
}

main .cards-container .card .over {
    position: relative;
    max-width: 100%;
    aspect-ratio: 1 / 1;
    margin-bottom: 1rem;
}

main .cards-container .card img {
    filter: brightness(100%);
    display: block;
    max-width: 100%;
    transition: brightness 300ms;
}    

main .cards-container .card .overlay {
    opacity: 0;
    position: absolute;
    max-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    filter: invert(1);
    transition: opacity 300ms;
}

main .cards-container .card:hover .overlay {
    opacity: 1;
}

main .cards-container .card:hover .image {
    filter: brightness(40%);
}

main .cards-container .card .title {
    color: white;
    font-size: 0.9rem;
    text-align: center;
    margin-bottom: 0.8rem;
}

main .cards-container .card .author {
    color: var(--main-grey-color);
    font-size: 0.85rem;
    text-align: center;
}

main section .subtitle {
    color: var(--main-grey-color);
    font-size: 0.85rem;
    text-align: left;
    margin-bottom: 1.5rem;
}

.popular .cards-container .card img {
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}


/*
MEDIA QUERIES FOR CENTRAL GRID
*/













/*
MEDIA QUERIES FOR CENTRAL GRID
*/

@media screen and (max-width: 1100px) and (min-width: 700px) {
    main .cards-container .card {
        --cols: 4;
    }
}

@media screen and (max-width: 699px) and (min-width: 391px) {
    main .cards-container .card {
        --cols: 2;
    }

    main .site-area li {
        font-size: 0.75rem;
    }
}

/*
mobile - 390px
*/

@media screen and (max-width: 390px) {
    main .cards-container .card {
        --cols: 1;
    }

    main .site-area ul {
        justify-content: flex-start;
        margin-bottom: 12rem;
    }

    main .site-area li {
        margin-bottom: -0.5rem;
        flex: 0 0 100%;
        font-size: 0.75rem;
    }

    main .site-area li.active::after {
        width: 2.5rem;
        left: 1rem;
        bottom: 0.2rem;
    }

    main .cards-container .card img {
        margin-bottom: 0.2rem;
        aspect-ratio: 1 / 1;
    }

    main .cards-container .card .title {
        margin-bottom: 0.3rem;
    }

    main .cards-container .card .author {
        margin-bottom: 1.5rem;
    }

    main h2 {
        font-size: 1.5rem;
        text-align: center;
    }

    main section .subtitle {
        text-align: center;
        margin-bottom: 0.75rem;
    }

    .overlay .btn {
        width: 50%;
        text-align: center;
        font-size: 0.65rem;
        top: 1.8rem;
        right: 2rem;
        border: 1px solid white;
    }
}



/*
MEDIA QUERY FOR SIDEBAR
*/

@media screen and (max-width: 600px) {
    aside {
        --aside-width: 50px;
        padding: 0.7rem 0;
    }

    aside .logo-small {
        display: block;
        margin-left: 8px;
        width: 32px;
    }

    aside .aside-menu li > a {
        display: block;
        margin: 30px 12px 0 10px;
    }

    aside .logo,
    aside .aside-menu span,
    aside .aside-menu .title,
    aside .container-playlist,
    aside .playlist {
        display: none;
    }

    aside .info .install {
        border-bottom: none;
        margin: 440px 0 -20px 5px;
    }

    aside .info .user img {
        margin-left: 3px;
    }
}